
    <!-- Inner page hedaing start -->
    <section class="irs-inner-page-heading irs-layer-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>Sauna & Pool</h2>
                        <i class="icofont icofont-education"></i>
                        <p><a href="">HOME</a> > <a href="">Facilities</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inner page hedaing end -->

    <!-- Teachers Single Start -->
    <section class="irs-teacher-single-field">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="irs-teacher-single-col">
                        <img src="images/teachers/sauna.png" alt="">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="irs-teacher-single-col">
                        <div class="irs-teacher-biography">
                            <ul>
                                <li><strong>Name : </strong> Sauna & Pool</li>
                                <li><strong>Trainer : </strong> sophie</li>
                                <li><strong>experience : </strong> 6 years</li>
                                <!--<li><strong>educational qualification :</strong> BBA</li>-->
                                <li><strong>Reviews : </strong>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li><strong>social media : </strong>
                                    <a href="teacher-single.html#"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="teacher-single.html#"><i class="zmdi zmdi-vimeo"></i></a>
                                    <a href="teacher-single.html#"><i class="zmdi zmdi-pinterest"></i></a>
                                    <a href="teacher-single.html#"><i class="zmdi zmdi-twitter"></i></a>
                                </li>
                            </ul>
                            <p>Start your day feeling refreshed or mark the end of the day with a swim in the 25-meter pool at the wellness and fitness facilities located in the building complex. This is where you can enjoy some active relaxation or simply relax and unwind.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row irs-other-teachers">
                <div class="col-md-12">
                    <h3>other facilities</h3>
                    <div class="row">
                        <div class="row animatedParent animateOnce">
                            <div class="col-md-3 col-sm-6">
                                <div class="irs-teachers-col animated fadeInUpShort slow delay-500 go">
                                    <a href="Sports.aspx"><img src="images/teachers/sports.png" alt="">
                                    </a>
                                    <div class="irs-teachers-name">
                                        <h4><a href="Sports.aspx">Sports</a></h4>
                                        <p>Indoor Games</p>
                                    </div>
                                    <div class="irs-teachers-social">
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-facebook"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-vimeo"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-pinterest"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="irs-teachers-col animated fadeInUpShort slow delay-750 go">
                                    <a href="Triathlon.aspx"><img src="images/teachers/triathlon.png" alt="">
                                    </a>
                                    <div class="irs-teachers-name">
                                        <h4><a href="Triathlon.aspx">Triathlon</a></h4>
                                        <p>body flexibility</p>
                                    </div>
                                    <div class="irs-teachers-social">
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-facebook"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-vimeo"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-pinterest"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="irs-teachers-col animated fadeInUpShort slow delay-1000 go">
                                    <a href="Training.aspx"><img src="images/teachers/training.png" alt="">
                                    </a>
                                    <div class="irs-teachers-name">
                                        <h4><a href="Training.aspx">Training</a></h4>
                                        <p>trainer facility</p>
                                    </div>
                                    <div class="irs-teachers-social">
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-facebook"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-vimeo"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-pinterest"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="irs-teachers-col animated fadeInUpShort slow delay-250 go">
                                    <a href="Children.aspx"><img src="images/teachers/children.png" alt="">
                                    </a>
                                    <div class="irs-teachers-name">
                                        <h4><a href="Children.aspx">Children</a></h4>
                                        <p>Kids Sports</p>
                                    </div>
                                    <div class="irs-teachers-social">
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-facebook"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-vimeo"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-pinterest"></i></a>
                                        <a href="teacher-single.html#"><i class="zmdi zmdi-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Teachers Single End -->
