<!-- Inner page hedaing start -->
<section class="irs-inner-page-heading irs-layer-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="irs-inner-heading">
                    <h2>Events</h2>
                    <i class="icofont icofont-education"></i>
                    <p><a href="index-layout1.html">Explore</a> > <a href="courses-grid.html#">Events</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inner page hedaing end -->

 <!-- courses start -->
<section class="irs-courses-field">
    <div class="container">
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col animated fadeInLeftShort slow delay-250">
                    <div class="irs-courses-img">
                        <img src="images/courses/summercmp.png" alt="">
                        <div class="irs-time">
                            <p><a href="">10:00 pm - 4:00 pm</a>
                            </p>
                        </div>
                        <div class="irs-courses-img-text">
                            <ul class="clearfix">
                                <li>
                                    <p><i class="zmdi zmdi-calendar-alt"></i> </p>
                                </li>
                                <li class="pull-right">
                                    <p><i class="zmdi zmdi-money"></i> </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="">Summer Camp</a></h4>
                        <p>Pretty much the most awesome workout ever. Dance to great music, with great people, and burn a ton of calories without even</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="course-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col animated fadeInUpShort slow delay-500">
                    <div class="irs-courses-img">
                        <img src="images/courses/swimming.png" alt="">
                        <div class="irs-time">
                            <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                            </p>
                        </div>
                        <div class="irs-courses-img-text">
                            <ul class="clearfix">
                                <li>
                                    <p><i class="zmdi zmdi-calendar-alt"></i> </p>
                                </li>
                                <li class="pull-right">
                                    <p><i class="zmdi zmdi-money"></i> </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="course-single.html">Swimming</a></h4>
                        <p>Competitive swimming is one of the most popular Olympic sports, with events in butterfly, backstroke, breaststroke, freestyle</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="course-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col animated fadeInRightShort slow delay-250">
                    <div class="irs-courses-img">
                        <img src="images/courses/marathon.png" alt="">
                        <div class="irs-time">
                            <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                            </p>
                        </div>
                        <div class="irs-courses-img-text">
                            <ul class="clearfix">
                                <li>
                                    <p><i class="zmdi zmdi-calendar-alt"></i> </p>
                                </li>
                                <li class="pull-right">
                                    <p><i class="zmdi zmdi-money"></i> </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="course-single.html">Marathon</a></h4>
                        <p>Badminton is a racquet sport played using racquets to hit a shuttlecock across a net.Although it may be played</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="course-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col animated fadeInLeftShort slow delay-250">
                    <div class="irs-courses-img">
                        <img src="images/courses/marathon.png" alt="">
                        <div class="irs-time">
                            <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                            </p>
                        </div>
                        <div class="irs-courses-img-text">
                            <ul class="clearfix">
                                <li>
                                    <p><i class="zmdi zmdi-calendar-alt"></i> </p>
                                </li>
                                <li class="pull-right">
                                    <p><i class="zmdi zmdi-money"></i> </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="course-single.html">5k Run</a></h4>
                        <p>Pretty much the most awesome workout ever. Dance to great music, with great people, and burn a ton of calories without even</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="course-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col animated fadeInUpShort slow delay-500">
                    <div class="irs-courses-img">
                        <img src="images/courses/swimming.png" alt="">
                        <div class="irs-time">
                            <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                            </p>
                        </div>
                        <div class="irs-courses-img-text">
                            <ul class="clearfix">
                                <li>
                                    <p><i class="zmdi zmdi-calendar-alt"></i> </p>
                                </li>
                                <li class="pull-right">
                                    <p><i class="zmdi zmdi-money"></i> </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="course-single.html">Swimming</a></h4>
                        <p>Competitive swimming is one of the most popular Olympic sports, with events in butterfly, backstroke, breaststroke, freestyle</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="course-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col animated fadeInRightShort slow delay-250">
                    <div class="irs-courses-img">
                        <img src="images/courses/badminton.png" alt="">
                        <div class="irs-time">
                            <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                            </p>
                        </div>
                        <div class="irs-courses-img-text">
                            <ul class="clearfix">
                                <li>
                                    <p><i class="zmdi zmdi-calendar-alt"></i> </p>
                                </li>
                                <li class="pull-right">
                                    <p><i class="zmdi zmdi-money"></i> </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="course-single.html">Badminton</a></h4>
                        <p>Badminton is a racquet sport played using racquets to hit a shuttlecock across a net.Although it may be played</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="course-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="irs-pagination text-center">
        <ul class="pagination">
            <li><a href="courses-grid.html#">&lt;</a>
            </li>
            <li><a href="courses-grid.html#">2</a>
            </li>
            <li><a href="courses-grid.html#">3</a>
            </li>
            <li><a href="courses-grid.html#">4</a>
            </li>
            <li><a href="courses-grid.html#">&gt;</a>
            </li>
        </ul>
    </div>
</section>
<!-- courses end -->
