<!-- main slider start -->
<section class="irs-main-slider">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <span>learn and build your life</span>
                    <h1>gain health from <strong>SRH Campus Sports</strong></h1>
                    <a href="Default.aspx" class="btn btn-default irs-big-btn" role="button">Register</a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <span>learn and build your life</span>
                    <h1>gain health from <strong>SRH Campus Sports</strong></h1>
                    <a href="Default.aspx" class="btn btn-default irs-big-btn" role="button">Register</a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <span>learn and build your life</span>
                    <h1>gain health from <strong>SRH Campus Sports</strong></h1>
                    <a href="Default.aspx" class="btn btn-default irs-big-btn" role="button">Register</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main slider end -->

<!-- Welcome start -->
<section class="irs-welcome-field">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>Welcome To our <span>SRH Sports</span></h1>
                <i class="icofont icofont-education"></i>
                <p>Our club offers you a variety of sports and leisure activities, a swimming pool and saunas, a unique opportunity in the region to practice sports. We also offer plenty of space for team sports: a sports hall with climbing wall, basketball baskets and football gates, as well as an outdoor area with a streetsocceranlage and a volleyball field.</p>
            </div>
        </div>
    </div>
</section>
<!-- Welcome end -->

<!-- About start -->
<section class="irs-about-field">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="irs-section-title">
                    <h2>what <span>we do</span></h2>
                    <div class="irs-title-line">
                        <div class="irs-title-icon">
                            <i class="icofont icofont-education"></i>
                        </div>
                    </div>
                    <p>On modern strength and endurance equipment, you can train your fitness and realize individual goals. SRH Campus Sports eV is entitled to offer Rehasport as follows.</p>
                </div>
            </div>
        </div>
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 col-sm-6">
                <div class="irs-about-box animated fadeInLeftShort slow delay-250">
                    <div class="irs-about-icon">
                        <i class="icofont icofont-university"></i>
                    </div>
                    <h4>Wirbelsäulengymnastik</h4>
                    <p> Wirbelsäulengymnastik is noted for involving highly specialized strength, power, agility and flexibility</p>
                    <a class="btn btn-default irs-btn-transparent" href="Default.aspx" role="button">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="irs-about-box animated fadeInUpShort slow delay-500">
                    <div class="irs-about-icon">
                        <i class="icofont icofont-graduate-alt"></i>
                    </div>
                    <h4>Back fitness</h4>
                    <p> Doing back exercises helps you bench press more weight & the muscles in your upper- and mid-back help</p>
                    <a class="btn btn-default irs-btn-transparent" href="Default.aspx" role="button">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="irs-about-box animated fadeInRightShort slow delay-250">
                    <div class="irs-about-icon">
                        <i class="icofont icofont-school-bus"></i>
                    </div>
                    <h4>Aqua Jogging</h4>
                    <p> Aqua jogging will allow your body to focus on healing your injury while you still maintain your fitness</p>
                    <a class="btn btn-default irs-btn-transparent" href="Default.aspx" role="button">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About end -->

<!-- Divider start -->
<section class="irs-divider-field irs-layer-black">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="irs-divider-col">
                    <h2>we are very helpful</h2>
                    <p>Our club offers you a variety of sports and leisure activities, a swimming pool and saunas, a unique opportunity in the region to practice sports.On modern strength and endurance equipment, you can train your fitness and realize individual goals.We also offer a lot of space for team sports: a sports hall with climbing wall, basketball baskets and football gates, as well as an outdoor area with a volleyball field.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="irs-divider-col ">
                    <h2>Call Us</h2>
                    <div class="irs-call-numbar">
                        <h4><i class="icofont icofont-ui-call"></i> 06221 882288</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Divider end -->

<!-- courses start -->
<section class="irs-courses-field">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="irs-section-title">
                    <h2>our <span>courses</span></h2>
                    <div class="irs-title-line">
                        <div class="irs-title-icon">
                            <i class="icofont icofont-education"></i>
                        </div>
                    </div>
                    <p>With our extensive program of activities we address all age groups.We would be pleased to give you the current health plan at the counter. </p>
                </div>
            </div>
        </div>
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col animated fadeInLeftShort slow delay-250">
                    <div class="irs-courses-img">
                        <img src="images/courses/zumba.png" alt="">
                        <div class="irs-time">
                            <p><a href="index-layout1.html#">10:00 pm - 4:00 pm</a>
                            </p>
                        </div>
                        <div class="irs-courses-img-text">
                            <ul class="clearfix">
                                <li>
                                    <p><i class="zmdi zmdi-calendar-alt"></i> </p>
                                </li>
                                <li class="pull-right">
                                    <p><i class="zmdi zmdi-money"></i> </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="course-single.html">Zumba</a></h4>
                        <p>Pretty much the most awesome workout ever. Dance to great music, with great people, and burn a ton of calories without even</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="course-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col animated fadeInUpShort slow delay-500">
                    <div class="irs-courses-img">
                        <img src="images/courses/swimming.png" alt="">
                        <div class="irs-time">
                            <p><a href="index-layout1.html#">10:00 pm - 4:00 pm</a>
                            </p>
                        </div>
                        <div class="irs-courses-img-text">
                            <ul class="clearfix">
                                <li>
                                    <p><i class="zmdi zmdi-calendar-alt"></i> </p>
                                </li>
                                <li class="pull-right">
                                    <p><i class="zmdi zmdi-money"></i> </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="course-single.html">Swimming</a></h4>
                        <p>Competitive swimming is one of the most popular Olympic sports, with events in butterfly, backstroke, breaststroke, freestyle, and individual</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="course-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col animated fadeInRightShort slow delay-250">
                    <div class="irs-courses-img">
                        <img src="images/courses/badminton.png" alt="">
                        <div class="irs-time">
                            <p><a href="index-layout1.html#">10:00 pm - 4:00 pm</a>
                            </p>
                        </div>
                        <div class="irs-courses-img-text">
                            <ul class="clearfix">
                                <li>
                                    <p><i class="zmdi zmdi-calendar-alt"></i> </p>
                                </li>
                                <li class="pull-right">
                                    <p><i class="zmdi zmdi-money"></i> </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="course-single.html">Badminton</a></h4>
                        <p>Badminton is a racquet sport played using racquets to hit a shuttlecock across a net.Although it may be played with larger teams, the</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="course-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- courses end -->

<!-- Counter start -->
<section class="irs-counter-field irs-layer-black">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="irs-counter-col">
                    <i class="icofont icofont-users-alt-3"></i>
                    <div class="irs-funfact">
                        <div class="start-count"></div>
                        <div class="clearfix"></div>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="irs-counter-col">
                    <i class="icofont icofont-education"></i>
                    <div class="irs-funfact">
                        <div class="start-count"></div>
                        <div class="clearfix"></div>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="irs-counter-col">
                    <i class="icofont icofont-group-students"></i>
                    <div class="irs-funfact">
                        <div class="start-count"></div>
                        <div class="clearfix"></div>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="irs-counter-col">
                    <i class="icofont icofont-university"></i>
                    <div class="irs-funfact">
                        <div class="start-count"></div>
                        <div class="clearfix"></div>
                        <h4></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter end -->

<!-- Gallery start -->
<section class="irs-gallery-field">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="irs-section-title">
                    <h2>Awesome <span>gallery</span></h2>
                    <div class="irs-title-line">
                        <div class="irs-title-icon">
                            <i class="icofont icofont-education"></i>
                        </div>
                    </div>
                    <p>SRH has a wide collection of events and sports where a large room for the exhibition of pictures...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 irs-col-padd-less">
                <div class="irs-img-hover">
                    <img src="images/gallery/1.jpg" alt="">
                    <div class="irs-layer">
                        <a class="lightbox-image" href="images/gallery/1.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                            <i class="zmdi zmdi-loupe"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 irs-col-padd-less">
                <div class="irs-img-hover">
                    <img src="images/gallery/2.jpg" alt="">
                    <div class="irs-layer">
                        <a class="lightbox-image" href="images/gallery/2.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                            <i class="zmdi zmdi-loupe"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 irs-col-padd-less">
                <div class="irs-img-hover">
                    <img src="images/gallery/3.jpg" alt="">
                    <div class="irs-layer">
                        <a class="lightbox-image" href="images/gallery/3.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                            <i class="zmdi zmdi-loupe"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 irs-col-padd-less">
                <div class="irs-img-hover">
                    <img src="images/gallery/4.jpg" alt="">
                    <div class="irs-layer">
                        <a class="lightbox-image" href="images/gallery/4.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                            <i class="zmdi zmdi-loupe"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 irs-col-padd-less">
                <div class="irs-img-hover">
                    <img src="images/gallery/5.jpg" alt="">
                    <div class="irs-layer">
                        <a class="lightbox-image" href="images/gallery/5.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                            <i class="zmdi zmdi-loupe"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 irs-col-padd-less">
                <div class="irs-img-hover">
                    <img src="images/gallery/6.jpg" alt="">
                    <div class="irs-layer">
                        <a class="lightbox-image" href="images/gallery/6.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                            <i class="zmdi zmdi-loupe"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 irs-col-padd-less">
                <div class="irs-img-hover">
                    <img src="images/gallery/7.jpg" alt="">
                    <div class="irs-layer">
                        <a class="lightbox-image" href="images/gallery/7.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                            <i class="zmdi zmdi-loupe"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 irs-col-padd-less">
                <div class="irs-img-hover">
                    <img src="images/gallery/8.jpg" alt="">
                    <div class="irs-layer">
                        <a class="lightbox-image" href="images/gallery/8.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                            <i class="zmdi zmdi-loupe"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery end -->

<!-- Teachers start -->
<section class="irs-teachers-field">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="irs-section-title">
                    <h2>Our <span>trainers</span></h2>
                    <div class="irs-title-line">
                        <div class="irs-title-icon">
                            <i class="icofont icofont-education"></i>
                        </div>
                    </div>
                    <p>Trainer is an individual certified to have a varying degree of knowledge of general fitness involved in exercise prescription and instruction. </p>
                </div>
            </div>
        </div>
        <div class="row animatedParent animateOnce">
            <div class="col-md-3 col-sm-6">
                <div class="irs-teachers-col animated fadeInUpShort slow delay-250">
                    <a href="teacher-single.html"><img src="images/teachers/1.jpg" alt="">
                    </a>
                    <div class="irs-teachers-name">
                        <h4><a href="teacher-single.html">Rosi Jqulin</a></h4>
                        <p>Swimming Trainer</p>
                    </div>
                    <div class="irs-teachers-social">
                        <a href="index-layout1.html#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-vimeo"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-pinterest"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="irs-teachers-col animated fadeInUpShort slow delay-500">
                    <a href="teacher-single.html"><img src="images/teachers/2.jpg" alt="">
                    </a>
                    <div class="irs-teachers-name">
                        <h4><a href="teacher-single.html">Ross Taylor</a></h4>
                        <p>Gym trainer</p>
                    </div>
                    <div class="irs-teachers-social">
                        <a href="index-layout1.html#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-vimeo"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-pinterest"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="irs-teachers-col animated fadeInUpShort slow delay-750">
                    <a href="teacher-single.html"><img src="images/teachers/3.jpg" alt="">
                    </a>
                    <div class="irs-teachers-name">
                        <h4><a href="teacher-single.html">Jessi Taylor</a></h4>
                        <p>Zumba Trainer</p>
                    </div>
                    <div class="irs-teachers-social">
                        <a href="index-layout1.html#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-vimeo"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-pinterest"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="irs-teachers-col animated fadeInUpShort slow delay-1000">
                    <a href="teacher-single.html"><img src="images/teachers/4.jpg" alt="">
                    </a>
                    <div class="irs-teachers-name">
                        <h4><a href="teacher-single.html">Julio Jesus</a></h4>
                        <p>Sports Trainer</p>
                    </div>
                    <div class="irs-teachers-social">
                        <a href="index-layout1.html#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-vimeo"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-pinterest"></i></a>
                        <a href="index-layout1.html#"><i class="zmdi zmdi-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Teachers  end -->

<!-- Testimonial start -->
<section class="irs-testimonial-field irs-layer-black">
    <img src="images/students.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <div class="testimonial-carousel">
                    <div class="item">
                        <div class="irs-transparent-space"></div>
                        <div class="irs-testimonial-single">
                            <div class="irs-comment-icon">
                                <i class="icofont icofont-quote-right"></i>
                            </div>
                            <p>Trainer is an individual certified to have a varying degree of knowledge of general fitness involved in exercise prescription and instruction.</p>
                            <h4>Julio Jesus</h4>
                            <h5>Principal, ABC UNIVERSITY</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="irs-transparent-space"></div>
                        <div class="irs-testimonial-single">
                            <div class="irs-comment-icon">
                                <i class="icofont icofont-quote-right"></i>
                            </div>
                            <p>Trainer is an individual certified to have a varying degree of knowledge of general fitness involved in exercise prescription and instruction.</p>
                            <h4>Martin Jons</h4>
                            <h5>Principal, ABC UNIVERSITY</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="irs-transparent-space"></div>
                        <div class="irs-testimonial-single">
                            <div class="irs-comment-icon">
                                <i class="icofont icofont-quote-right"></i>
                            </div>
                            <p>Trainer is an individual certified to have a varying degree of knowledge of general fitness involved in exercise prescription and instruction.</p>
                            <h4>Fadrid Jons</h4>
                            <h5>Principal, ABC UNIVERSITY</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial end -->

<!-- Blog start -->
<section class="irs-blog-field">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="irs-section-title">
                    <h2>latest <span>blog</span></h2>
                    <div class="irs-title-line">
                        <div class="irs-title-icon">
                            <i class="icofont icofont-education"></i>
                        </div>
                    </div>
                    <p>Publish your passions your way. Whether you'd like to share your knowledge, experiences or the latest news experience at SRH Sports Campus.....  </p>
                </div>
            </div>
        </div>
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col irs-blog-col animated fadeInLeftShort slow delay-250">
                    <div class="irs-courses-img">
                        <img src="images/blog/blog1.png" alt="">
                    </div>
                    <div class="irs-info-text">
                        <ul class="clearfix">
                            <li>
                                <p><i class="icofont icofont-clock-time"></i> <a href="index-layout1.html#">14 March 2017</a>
                                </p>
                            </li>
                            <li>
                                <p><i class="icofont icofont-open-eye"></i> <a href="index-layout1.html#">65</a>
                                </p>
                            </li>
                            <li>
                                <p><i class="icofont icofont-comment"></i> <a href="index-layout1.html#">40</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="blog-single.html">SRH Sports Campus</a></h4>
                        <p>Our club offers you a variety of sports and leisure activities, a swimming pool and saunas, a unique opportunity in the region to practice sports.</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="blog-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col irs-blog-col animated fadeInUpShort slow delay-500">
                    <div class="irs-courses-img">
                        <img src="images/blog/blog2.png" alt="">
                    </div>
                    <div class="irs-info-text">
                        <ul class="clearfix">
                            <li>
                                <p><i class="icofont icofont-clock-time"></i> <a href="index-layout1.html#">04 April 2017</a>
                                </p>
                            </li>
                            <li>
                                <p><i class="icofont icofont-open-eye"></i> <a href="index-layout1.html#">65</a>
                                </p>
                            </li>
                            <li>
                                <p><i class="icofont icofont-comment"></i> <a href="index-layout1.html#">40</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="blog-single.html">SRH Sports Campus</a></h4>
                        <p>Our club offers you a variety of sports and leisure activities, a swimming pool and saunas, a unique opportunity in the region to practice sports.</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="blog-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="irs-courses-col irs-blog-col animated fadeInRightShort slow delay-250">
                    <div class="irs-courses-img">
                        <img src="images/blog/blog3.png" alt="">
                    </div>
                    <div class="irs-info-text">
                        <ul class="clearfix">
                            <li>
                                <p><i class="icofont icofont-clock-time"></i> <a href="index-layout1.html#">24 April 2017</a>
                                </p>
                            </li>
                            <li>
                                <p><i class="icofont icofont-open-eye"></i> <a href="index-layout1.html#">65</a>
                                </p>
                            </li>
                            <li>
                                <p><i class="icofont icofont-comment"></i> <a href="index-layout1.html#">40</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="irs-courses-content">
                        <h4><a href="blog-single.html">SRH Sports Campus</a></h4>
                        <p>Our club offers you a variety of sports and leisure activities, a swimming pool and saunas, a unique opportunity in the region to practice sports.</p>
                        <a class="btn btn-default irs-btn-transparent-two" href="blog-single.html" role="button">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog end -->

<!-- Newsletter start -->
<section class="irs-newsletter-field">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="irs-newsletter-col">
                    <img src="images/newsletter.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="irs-newsletter-col">
                    <h2>Subscribe our newsletter</h2>
                    <p>Our club offers you a variety of sports and leisure activities, a swimming pool and saunas, a unique opportunity in the region to practice sports.</p>
                    <form>
                        <div class="input-group">
                            <input placeholder="Your Email Address" class="form-control" name="search-field" type="text">
                            <span class="input-group-btn">
                        <button type="submit" class="btn">Subscribe</button>
                      </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter end -->
